body {
  display: flex;
  background-color: #201B2C;
  margin: 0;
  font-family: 'open sans', sans-serif;
  height: 742px;
  width: 1488px;

}
#body{
  filter: none;
  
}
.cabecalho{
  display: flex;
  background-color: #6495ED;
  height: 110px;
  width: 1488px;

}
.logo-cabecalho{
  position: relative;
  height: 110px;
  width: 125px;
  transition: background-color 0.8s ease;
  background-color: #201B2C;

}
.logo-cabecalho:hover{
  background-color: #6495ED;
  cursor: pointer;

}
.text-meu-perfil{
  position: absolute;
  color: #F0FFFF;
  left: 180px;
  font-size: 40px;

}
.text-minhas-receitas{
  position: absolute;
  left: 1020px;
  top: 50px;
  color: #F0FFFF;
  font-size: 25px;

}
.text-minhas-receitas:hover{
  color: #00FF7F;
  text-decoration: underline;
  cursor: pointer;

}
.text-minhas-despesas{
  position: absolute;
  left: 1250px;
  top: 50px;
  color: #F0FFFF;
  font-size: 25px;

}
.text-minhas-despesas:hover{
  color: #ff0606;
  text-decoration: underline;
  cursor: pointer;

}
.text-minhas-metas{
  position: absolute;
  left: 1300px;
  top: 50px;
  color: #F0FFFF;
  font-size: 25px;

}
.text-minhas-metas:hover{
  color: #FFD700;
  text-decoration: underline;
  cursor: pointer;

}
.dados-pessoais{
  font-size: 35px;
  color: #EBF0F2;

}
.profile-container{
  position: absolute;
  left: 150px;
  font-size: 30px;
  color: #F0FFFF;
  top: 110px;

}
.profile-container label{
  margin-bottom: 70px;

}
.profile-container input{
  position: absolute;
  left: 200px;
  background-color: #514069;
  width: 400px;
  height: 50px;
  border-radius: 8px;
  font-size: 20px

}
a{
  color: #F0FFFF;
  text-decoration: none;

}
.encerrar-sessao{
  position: absolute;
  bottom: 30px;
  right: 50px;
  font-size: 25px;
  color: #ffffff;

}
.encerrar-sessao:hover{
  color: #ff0000;
  cursor: pointer;
  text-decoration: underline;

}
.pop-up-encerrar{
  color: #F0FFFF;
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  border: 5px solid #000000;
  padding: 10px;
  border-radius: 8px;
  background-color: #201B2C;
  width: 370px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.pop-up-encerrar input{
  width: 150px;
  height: 50px;

}
.input-retornar{
  position: absolute;
  background-color: #00FF7F;
  border-radius: 5px;
  font-size: 25px;
  left: 10px;
  bottom: 20px;
}
.input-retornar:hover{
  background-color: #6495ED;
  cursor: pointer;

}
.input-encerrar{
  position: absolute;
  background-color: #B22222;
  border-radius: 5px;
  font-size: 25px;
  right: 10px;
  bottom: 20px;
}
.input-encerrar:hover{
  background-color: #6495ED;
  cursor: pointer;
}
.copyright{
  content: '\\00A9';

}
.rodape{
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  color: #F0FFFF;
  background-color: #201B2C;
  font-size: 13px;
  top: 702px;
  width: 1488px;
  height: 40px;

}
button{
  width: 120px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px;

}
#editBtn{
  background-color: #FFD700;

}
#editBtn:hover{
  background-color: #6495ED;
  cursor: pointer;

}
#saveBtn{
  background-color: #00FF7F;
  cursor: pointer;

}
#saveBtn:hover{
  background-color: #6495ED;
  cursor: pointer;

}
.input-retornar{
  position: absolute;
  background-color: #00FF7F;
  border-radius: 5px;
  font-size: 25px;
  left: 10px;
  bottom: 20px;
}
.input-retornar:hover{
  background-color: #6495ED;
  cursor: pointer;

}
.input-encerrar{
  position: absolute;
  background-color: #B22222;
  border-radius: 5px;
  font-size: 25px;
  right: 10px;
  bottom: 20px;
}
.input-encerrar:hover{
  background-color: #6495ED;
  cursor: pointer;
}