.secao {
    width: auto;
    padding: 0px 10px;
    overflow: auto;
    text-align: left;
    background-color: #201823;
    color: white;
    font-family: sans-serif;
}

.navegacaoPrincipal {
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

.economus {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;

}

h1 {
    padding-left: 130px;
    padding-top: 0px;
}

.body {
    background-color: white;
    font-family: sans-serif;
    color: black;
    overflow: auto;

}

.logo {
    width: 100px;
    height: 100px;
}

.boxnavegacao {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

}

.subtitulo {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;

}

.despesasCategoria,
.proximasDespesas,
.mesatual,
.Despesascard {
    background-color: #201823;
    color: white;
    width: 50%;
    padding: 5px 5px;
    margin: 10px;
}

.card {
    background-color: #201823;
    color: white;
    width: 50%;
    padding: 5px 5px;
    margin: 10px;
}