body{
    display: flex;
    background-color: #F0FFFF;
    margin: 0;
    font-family: 'open sans', sans-serif;
    height: 742px;
    width: 1488px;

}
#body{
    flex: none;

}
.cabecalho{
    display: flex;
    background-color: #201B2C;
    height: 110px;
    width: 1488px;

}
.logo-cabecalho{
    position: relative;
    height: 110px;
    width: 125px;
    transition: background-color 0.8s ease;

}
.logo-cabecalho:hover{
    background-color: #6495ED;
    cursor: pointer;

}
.text-minhas-receitas{
    position: absolute;
    color: #F0FFFF;
    left: 180px;
    font-size: 40px;

}
.text-minhas-despesas{
    position: absolute;
    left: 1090px;
    top: 50px;
    color: #F0FFFF;
    font-size: 25px;

}
.text-minhas-despesas:hover{
    color: #ff0606;
    text-decoration: underline;
    cursor: pointer;

}
.text-meu-perfil{
    position: absolute;
    left: 1330px;
    top: 50px;
    color: #F0FFFF;
    font-size: 25px;

}
.text-meu-perfil:hover{
    color: #6495ED;
    text-decoration: underline;
    cursor: pointer;

}
.subtitulo-receitas{
    position: absolute;
    background-color: #6495ED;
    border-radius: 8px;
    padding: 10px;
    top: 180px;
    left: 107px;
    width: 640px;
    font-size: 20px;

}
.categoria-receitas {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #201B2C;
    border-radius: 10px;
    top: 355px;
    left: 20px;
    width: 900px;
    height: 320px;
    font-size: 15px;
    color: #ffffff;

}
.text-categoria-despesa{
    position: absolute;
    left: 30px;
    font-weight: bold
}
.imagem-adicionar{
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    width: 30px;

}
.text-total{
    position: absolute;
    font-size: 25px;
    right: 170PX;

}
.text-divs-receitas{
    position: absolute;
    left: 20px;

}
.lista-contas{
    position: absolute;
    background-color: #201B2C;
    color: #F0FFFF;
    top: 350px;
    left: 960px;
    width: 450px;
    height: 325px;
    border-radius: 10px;
    text-align: center;

}
.text-contas{
    font-size: 20px;
    color: #F0FFFF;

}
.imagem-adicionar-receitas{
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 45px;
    width: 45px;

}
.imagem-adicionar-receitas:hover{
    cursor: pointer;

}
.imagem-editar-receitas{
    position: absolute;
    left: 80px;
    bottom: 20px;
    height: 40px;
    width: 40px;

}
.imagem-editar-receitas:hover{
    cursor: pointer;

}
.botao-cancelar-receitas{
    position: absolute;
    border-radius: 6px;
    background-color: #B22222;
    font-size: 20px;
    bottom: 20px;
    height: 50px;
    width: 100px;
    right: 170px;

}
.botao-cancelar-receitas:hover{
    background-color: #6495ED;
    cursor: pointer;
    

}
.botao-salvar-receitas{
    position: absolute;
    border-radius: 6px;
    background-color: #00FF7F;
    font-size: 20px;
    right: 40px;
    bottom: 20px;
    height: 50px;
    width: 100px;

}
.botao-salvar-receitas:hover{
    background-color: #6495ED;
    cursor: pointer;
    

}

.copyright{
    content: '\\00A9';

}
.rodape{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    color: #F0FFFF;
    background-color: #201B2C;
    font-size: 13px;
    top: 702px;
    width: 1488px;
    height: 40px;

}

.box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .corpoBox header {
    margin-top: 0;
  }
  
  .corpoBox {
    color: #F0FFFF;
    position: fixed;
    flex-direction: column;
    border: 5px solid #000000;
    padding: 10px;
    border-radius: 8px;
    background-color: #201B2C;
    width: 400px;
    height:450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }

  #areaGrafico {
    max-width: 850px;
    margin: 0 auto;
    height: 200px;
  }
  
  #areaGrafico h3 {
    margin-top: 2em;
    margin-bottom: 0;
  }
  select{
    cursor: pointer;

}
.botao{
    position: absolute;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    top: 280px;
    font-size: 18px;
    cursor: pointer;

}
.botao:hover{
    cursor:pointer;
    background-color: #6495ED;


}
#btAdicionar{
    background-color: #00FF7F;
    top: 250px;
    left: 50px;

}
#btEditar{
    background-color: #FFD700;
    top: 250px;
    left: 200px;
}
#btExcluir{
    background-color: #B22222;
    top: 250px;
    left: 350px;

}
#campoDescrição{
    position: absolute;
    left: 20px;

}
table{
top: 50px;

}
tbody{
    position: absolute;
    padding-top: 80px;
    font-size: 18px;
    left: 20px;
    overflow-y: scroll;
    height: 160px;
    width: 875px;

}
.celula-1, .celula-2, .celula-3,.celula-4{
    padding-left: 110px;
    padding-bottom: 10px;

}
#th1{
    position: absolute;
    left: 145px;
    top: 50px;

}
#th2{
    position: absolute;
    left: 315px;
    top: 50px;
    
}
#th3{
    position: absolute;
    left: 525px;
    top: 50px;
    
}
#th4{
    position: absolute;
    left: 740px;
    top: 50px;
    
}
#btMTAlterar{
    background-color: #FFD700;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    top: 320px;
    font-size: 20px;
    cursor: pointer;

}
#btMTExcluir{
    background-color: #6495ED;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    top: 320px;
    font-size: 20px;
    cursor: pointer;

}
.boxReceita {
    color: #F0FFFF;
    display: none;
    position: fixed;
    flex-direction: column;
    border: 5px solid #000000;
    padding: 10px;
    border-radius: 8px;
    background-color: #201B2C;
    width: 600px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
.corpoBox input, select{
    color: #F0FFFF;
    background-color: #514069;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 20px;

}

#btMTAlterar{
    background-color: #FFD700;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    top: 320px;
    font-size: 20px;
    cursor: pointer;

}
#btMTExcluir{
    background-color: #6495ED;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    top: 320px;
    font-size: 20px;
    cursor: pointer;

}
#btMTSalvar{
    background-color: #00FF7F;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;

}
#btMTCancelar{
    background-color: #B22222;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;

}
    #areaGrafico {
        position: absolute;
        top: 30px;
        left: 80px;
        margin: 0 auto;
        height: 280px;
    
    }
    
    #areaGrafico h3 {
        margin-top: 2em;
        margin-bottom: 0;
    }
    .distribuicao-receitas{
        position: absolute;
        flex-direction: column;
        text-align: center;
        top: 140px;
        left: 960px;
        border-radius: 10px;
        background-color: #201B2C;
        width: 450px;
        height: 150px;
        font-size: 25px;
        padding-top: 20px;
        color: #F0FFFF;

    }
    .distribuicao-receitas label{
        margin: 50px;

    }